<h1> Bienvenidos a nuestro chat Comunitario - Comisión 74515 </h1>

<input type="text" id="chatBox">

<p id="messagesLogs"></p>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>


